@charset "UTF-8";
body {
   background-image: url(../img/create-channel.jpeg); /* 画像 */
   background-color: rgba(255, 255, 255, 0.479);
   background-size: cover;               /* 全画面 */
   background-attachment: fixed;         /* 固定 */
   background-position: center;   /* 縦横中央 */
   
}
.toumei {
   background-color: rgba(255, 255, 255, 0.7);
 }

