#delete-channel-header {
    height: 20vh;
    width: 100%;
    border-bottom: solid #EEE9E9;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #D3756B;
    color:#EEE9E9;
}

#delete-channel-container {
    background-image: url(../img/channel-delete.jpeg);
    width: 100%;
    background-position: center;
    background-size: cover;

}

.delete-toumei{
    background-color: rgba(255, 255, 255, 0.3);
}


.delete-message1{
    position: relative;
    height: 10vh;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 44px;
    padding-top:20px;
    text-align: center;
}

#delete-channel-content{
    width: 100%;
    height: 80vh;
    flex-direction: column;
    text-align:center;
    align-items: center;
    justify-content: center;
}

.delete-message2{
width: 100%;
height: 40vh;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
padding-top: 130px;
color: #646060;
margin: 0;
}

.delete-channel-button{
width: 242px;
height: 10vh;
padding: 20px 60px;
left: 600px;
top: 500px;
border: 3px solid #FFFFFF;
border-radius: 100vh;
background: transparent;

}

.delete-channel-button a{
font-family: 'Inter';
font-style: normal;
font-size: 31px;
color: #fff;
text-decoration:none;
transition: .3s;
}

.delete-channel-button a:hover {
text-decoration: none;
font-size: 32px;
opacity: 0.7;
color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

}

.delete-channel-close{
    width: 242px;
    height: 10vh;
    padding: 30px 60px;
    left: 600px;
    top: 500px;
    border: 3px solid #FFFFFF;
    border-radius: 100vh;
    background: transparent;
}

.delete-channel-close a{
font-family: 'Inter';
font-style: normal;
font-size: 31px;
color: #fff;
text-decoration:none;
transition: .3s;
}

.delete-channel-close a:hover {
    text-decoration: none;
    font-size: 32px;
    opacity: 0.7;
    color: white;
    }