.userdetail-container {
  height: calc(100vh - 48px);
}

.userdetail-toumei {
  height: calc(100vh - 48px);
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.userdetail-button {
  font-size: 24px;
  font-weight: bold;
  color: white;
  border-radius: 30px;
  background-color: #A75D5D;
  padding: 16px;
  width: 20%;
}

.pl-24 {
  padding-left: 0rem;
}