<div id="channel-users-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="modal-title">ユーザー一覧</span>
            <span class="modalClose" id="channel-users-close-btn">×</span>
        </div>
        <div class="modal-img-delete">
            <div class="toumei-chat">
                <div class="modal-body-channel-users">
                    <ul>
                    {% for user in users %}
                        <li>{{ user.user_name }}</li>
                    {% endfor %}
                    </ul>
                    <!-- <input class="channel-form-input" type="text" placeholder="一致するユーザー名を入力" name="user_name" />
                    <input type="hidden" name="channel_id" value="{{ channel.channel_id }}" />
                    <button id="invite-btn">招待</button> -->
                </div>
            </div>
        </div>
    </div>
</div>