{% extends 'base.html' %}
{% block title %}
  <title>add-channel</title>
{% endblock %}
{% block body %}
{% include "header.html" %}
   <h1>チャンネル追加</h1>
    <form action="/", method="post">
        <input type="text" placeholder="チャンネル名" class="channel-form-input" name="channel-title">
        <input type="text" placeholder="チャンネルの説明" class="channel-form-input" name="channel-description">
        <button id="add-channel-confirmation-btn">更新</button>
    </form>
    <p><a href="/">戻る</a></p>
{% endblock %}