<div id="delete-channel-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="modal-title">チャンネル削除</span>
            <span class="modalClose" id="delete-page-close-btn">×</span>
        </div>
        <div class="modal-img-delete">
            <div class="toumei-chat">
                <div class="modal-body">
                    <p class="modal-delete-message">チャンネル「{{ channel.channel_name }}」を削除します。<br>
                        本当によろしいですか？</p>
                    <button id="delete-btn" class="modal-delete-channel-button">
                        <a href="/delete/{{ channel.channel_id }}">削除</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>