{% extends 'base.html' %}
{% block title %}
    <title>delete-channel</title>
{% endblock %}
{% block body %}
{% include "header.html" %}
<div id="delete-channel-container">
    <div id="delete-channel-header">
        <h2 class="delete-message1">本当に削除しますか？</h2>
    </div>
    <div id="delete-channel-content">
        <h3 class="delete-message2">削除ボタンを押すとチャンネルが消えます<br>
        本当によろしいですか？</h3>
        <button class="delete-channel-button"><a href="/delete/{{ channel.id }}">削除</a></button>
    </div>
</div>
{% endblock %}

