{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block body %}
{% include "header.html" %}
  <div id="chat-container">
    <div id="channel-header">
      <div id="channel-status">
          <div id="channel-name">{{ channel.name }}
            <a href="/update_channel/{{ channel.id }}" class="fas_link_icon"></a>
          </div>
          <div id="channel-description">{{ channel.abstract }}</div>
      </div>
    </div>
    <div class="toumei">
      <div id="messages">
        {% for message in messages %}
            <div class="my-messages">
              <div class="box box-right">
                <div class="message-content">
                  {{ message.message }}
                </div>
              </div>
              <form action="/delete_message" method="POST" class="fas_delete_icon">
                <input type="hidden" value="{{ channel.id }}" name="channel_id" />
                <button
                  class="delete-message-btn"
                  name="message_id"
                  value="{{ message.id }}"
                >
                </button>
              </form>
            </div>
            <div class="other-messages">
              <div class="user-name">hogeほげ</div>
              <div class="box box-left">
                <div class="message-content">
                  おはようございます。
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
      <form action="/message", method="post">
        <textarea type="text" placeholder="メッセージを入力" class="message-form" name="message" autofocus></textarea>
        <input type="hidden" name="channel_id" value="{{ channel.id }}">
        <!-- <input type="submit" value="&#xf1d8;" class="fas"> -->
        <button type="submit" class="button1">
          <i class="fas fa-paper-plane"></i>
        </button>
      </form>
    </div>
  </div>
{% endblock %}