{% extends 'base.html' %}
{% block title %}
  <title>chatroom</title>
{% endblock %}
{% block body %}
  <div id="chat-container">
    <div id="channel-header">
      <div id="channel-status">
          <div id="channel-name">{{ channel.name }}</div>
          <div id="channel-description">{{ channel.abstract }}</div>
          <a href="/update_channel/{{ channel.id }}">チャンネル編集</a>
          <a href="/">チャンネル一覧へ戻る</a>
      </div>
    </div>
    <div id="messages">
      {% for message in messages %}
          <div class="my-messages">
            <div class="box box-right">
              <div class="message-content">
                {{ message.message }}
              </div>
            </div>
          </div>
          <div class="other-messages">
            <div class="user-name">hogeほげ</div>
            <div class="box box-left">
              <div class="message-content">
                おはようございます。
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
    <form action="/message", method="post">
      <textarea type="text" placeholder="メッセージを入力" class="message-form" name="message" autofocus></textarea>
      <input type="hidden" name="channel_id" value="{{ channel.id }}">
      <input type="submit" value="&#xf1d8;" class="fas">
    </form>
  </div>
{% endblock %}