{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block body %}
  <header class="header">
    <a href="/" class="header-logo">Letat</a>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-icon">
          <a href="/" class="fas_home_icon"></a>
        </li>
        <li class="header-icon">
          <a href="/mypage" class="fas_user_icon"></a>
        </li>
        <li class="header-icon">
          <a href="/logout" class="fas_logout_icon"></a>
        </li>
      </ul>
    </nav>
  </header>
{% endblock %}