{% extends 'base.html' %}
{% include "header.html" %}
{% block title %}
  <title>channel</title>
{% endblock %}
{% block body %}
<div class="main-container channelpage">
  <div class="bg-mask">
    <div class="channels">Channels</div>
      <a href="/create-channel" class="btn">チャンネル追加</a>
      <table class="table" table-striped table-hover">
        <tr>
          <th class="Name">Name</th>
          <th class="description">description</th>
        </tr>
        {% for channel in channels %}
        <tr>
          <td>
            <a href="/detail/{{ channel.id }}" class="channelname">{{ channel.name }}</a>
          </td>
          <td class="channel-description">{{ channel.abstract}}</td>
          <td>
            <a href="/delete-channel/{{ channel.id }}" class="delete">削除</a>
          </td>
        </tr>
        {% endfor %}
      </table>
  </div>
</div>
{% endblock %}