<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css"> 
    <title>SIGN IN</title>
    </head>
<body>
  <div class="registration-wrapper login">
    <div class="registration-main login-main">
      <div class="background-color">
        <div class="background-img"></div> 
            <form class="registration-form" method="post"> 
            <input type="text" placeholder="Email" class="inputemail" name="email" />
            <input type="password" placeholder="Password" class="inputpassword" name="password" />
            <button class="black">SIGN IN</button>
              <h1 class="registration-title">SIGN IN</h1>
              <h2 class="SIGNUP-title">Hello Friend!</h2>
              <h3 class="SIGNUP-message">not registerd yet?</h3>
              <a class="switch-register-mode" href="{{ url_for('signup') }}">SIGN UP</a>
            </form>        
      </div>
    </div>
  </div>
</body>    

</html>