{% extends 'base.html' %}
{% block title %}
  <title>signup</title>
{% endblock %}
{% block body %}
  <div id="signin-container">
      <div class="overlay-container">
          <div class="overlay">
              <div class="overlay-panel overlay-right">
                  <div class="signin-title">Welcome back!</div>
                  <p class="signin-message">already have an account?</p>
              </div>
              <a class="login-button" href="/login">LOG IN</a>
          </div>
      </div>
      <div class="form-container signup-container">
        <div class="toumei-img">
            <form action="/signup" method="POST" class="signup-form">
              <div class="form-title">SIGN UP</div>
              <input class="login-input" type="name" placeholder="Name" />
              <input class="login-input" type="email" placeholder="Email" />
              <input class="login-input" type="password" placeholder="Password" />
              <input class="signup-button" type="submit" value="SIGN UP">
            </form>
        </div>
      </div>
  </div>
{% endblock %}