{% extends 'base.html' %}
{% block title %}
    <title>update-channel</title>
{% endblock %}
{% block body %}
{% include "header.html" %}
   
    <div id="create-channel-header">
            <h1 class="create-message1">チャンネル編集</h1>
            <span class="create-channel-close"><a href="/">×</a></span>
    
                <div id="create-channel-container">
                    <div class="create-toumei">
                        <div id="create-channel-content">
                            <form action="/update_channel/{{ channel.channel_id }}" method="POST" class="create-form">
                            <input class="create-input" type="channel-title" placeholder="チャンネル名" name="channel-title" /> 
                            <input class="create-input" type="channel-description" placeholder="チャンネルの説明" name="channel-description" />
                            <button class="create-channel-button">更新</button>     
                            </form>
                                          
                        </div>
                    </div>
                </div>
        </div> 


{% endblock %}